* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

p, li, a, .explanation {
  font-size: 2rem;
}

a {
  color: blue;
}
a:hover {
  cursor: pointer;
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3.5rem;
}

.content-wrapper, .img-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

img {
  max-width: 60rem;
  height: auto;
  border-radius: 1rem;
}

be-top-nav {
  margin-bottom: 3rem;
}

.header-tagline {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

main, footer {
  padding: 3rem 5rem;
}

.section-wrapper {
  display: flex;
  margin-bottom: 5rem;
}

footer {
  text-align: left;
}
footer ul {
  list-style-position: inside;
}

.home-hero-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  text-align: center;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../images/readingBraille.jpg) no-repeat center/cover;
  color: #fff;
}
.home-hero-header .top-nav {
  position: absolute;
}
.home-hero-header .learn-more-link {
  color: blue;
  text-decoration: none;
}
.home-hero-header .learn-more-link:after {
  content: ">";
  margin-left: 0.5rem;
}
.home-hero-header .learn-more-link:hover {
  text-decoration: underline;
}

be-top-nav {
  display: inline-block;
  width: 100vw;
}

.top-nav {
  position: absolute;
  top: 0;
  background-color: rgba(22, 22, 23, 0.8);
  color: #fff;
  padding: 1.5rem 2rem;
  width: 100%;
}
.top-nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.top-nav ul a {
  text-decoration: none;
  color: #fff;
}

.about-blindness .content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-blindness {
  background-color: #000;
  color: #fff;
}
.about-blindness .top-nav {
  position: static;
}
.about-blindness .section-wrapper {
  justify-content: space-around;
}

.about-blindness-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-bottom: 3rem;
}
.about-blindness-header .header-tagline {
  margin-bottom: 0;
}

.explanation {
  width: 60rem;
}

.what-causes-blindness {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.what-causes-blindness .img-wrapper {
  margin: 0 auto;
}
.what-causes-blindness .explanation {
  text-align: center;
}

.top-nav {
  position: static;
}

.q-and-a-header {
  text-align: center;
}
.q-and-a-header .large-font-span {
  font-size: 10rem;
  font-weight: 400;
}

.question-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.question-wrapper .question {
  display: flex;
  flex-direction: column;
}
.question-wrapper:nth-of-type(even) {
  flex-direction: row-reverse;
}

.blindness-tools {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.blind-tools-header {
  margin-bottom: 5rem;
}

.tool-wrapper {
  display: flex;
  grid-auto-flow: 3rem;
  margin-bottom: 5rem;
}

.tool-wrapper:first-of-type {
  flex-direction: column;
  align-items: center;
}

.tool-wrapper:nth-of-type(3) {
  flex-direction: row-reverse;
}

.tool-wrapper:nth-of-type(4), .tool-wrapper:nth-of-type(5) {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.tool-wrapper:nth-of-type(4) .tool-detail-wrapper, .tool-wrapper:nth-of-type(5) .tool-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tool-wrapper:nth-of-type(7) {
  flex-direction: row-reverse;
}

.tool-wrapper:nth-of-type(9), .tool-wrapper:nth-of-type(10) {
  gap: 3rem;
  flex-direction: column;
  align-items: center;
}

.tool-wrapper:nth-of-type(9) .tool-detail-wrapper, .tool-wrapper:nth-of-type(10) .tool-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
